body {
    /*background-image: url("../img/backImg.png");*/
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999999;
    font-size: 13px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-community {
    float: right;
    margin: 10px 0;

}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
}

.comment-sp {
    margin-top: 0px;
    margin-bottom: 8px;
}

.question-title {
    margin-top: 20px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    border: 1px solid #eeeeee;
}


.menu {
    color: #999999;
    margin-top: 5px;
}

.menu .icon {
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.comment-count {
    position: relative;
    top: -2px;
    right: 8px
}