<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>码农社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>

</head>
<body>
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each=" question:${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2854956166,1658664264&fm=26&gp=0.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a href="#" th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}">你可以与我一起交流</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="text-desc">[[${question.commentCount}]] 个回复 · [[${question.viewCount}]] 次浏览 · <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span> 时发布</span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage == true}">
                        <a href="#" aria-label="Previous" th:href="@{/(page = 1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious == true}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=${pagination.page - 1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active':''"><a
                            href="#" th:text="${page}" th:href="@{/(page=${page})}">1</a></li>

                    <li th:if="${pagination.showNext == true}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pagination.page + 1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage == true}">
                        <a href="#" aria-label="Next" th:href=" @{/(page = ${pagination.totalPage})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            1.问题标题:请用简短的语言描述问题
            <hr>
            2.问题补充:对问题进行补充
        </div>
    </div>
</div>


<script rel="script" type="application/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script rel="script" type="application/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>