<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>发布 - 大学生社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input hidden="hidden" name="id" type="text" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题(简单概要)</label>
                    <input type="text" class="form-control" id="title" placeholder="问题标题..." name="title"
                           autocomplete="off" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填)：</label>
                    <textarea cols="30" rows="10" class="form-control" id="description" placeholder="Email"
                              name="description" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" placeholder="输入标签，以,号隔开" name="tag"
                           autocomplete="off" th:value="${tag}" onclick="selectTab()">
                    <div class="publish-tag" id="tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat:${tags}" th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#' + selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory,selectCategoryStat:${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span class="label label-info question-tag" onclick="selectTags(this)"
                                      th:each="selectTag : ${selectCategory.tags}" th:data-tag="${selectTag}">
                                    <span class="glyphicon glyphicon-tags" style="top: 1px"
                                          th:text="${' ' +selectTag}">
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12" role="alert" th:text="${error}"
                                 th:if="${error != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-success" style="float: right">发布</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            1.问题标题:请用简短的语言描述问题
            <hr>
            2.问题补充:对问题进行补充
        </div>
    </div>
</div>

<script rel="script" type="application/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script rel="script" type="application/javascript" src="/js/bootstrap.min.js"></script>
<script rel="script" type="application/javascript" src="/js/community.js"></script>
</body>
</html>